<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCw6m9sLl18X3NlXT_oKvGkWEjbFlGLeGU</string>
	<key>GCM_SENDER_ID</key>
	<string>959802302309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authFlaxen</string>
	<key>PROJECT_ID</key>
	<string>auth-f21b7</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-f21b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959802302309:ios:d57a7938ae2c16a265cb8c</string>
</dict>
</plist>